# Python package
# Create and test a Python package on multiple Python versions.
# Add steps that analyze code, save the dist with the build record, publish to a PyPI-compatible index, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/python

trigger:
- main

pool: demopipeline
strategy:
  matrix:
    Python3.x:
      python.version: '3.x'

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '$(python.version)'
  displayName: 'Use Python $(python.version)'

- script: |
    python -m pip install --upgrade pip
    pip install -r requirements.txt
  displayName: 'Install dependencies'

- script: |
    pip install pytest pytest-azurepipelines
    pytest
  displayName: 'pytest'

- script: |
   python -m venv .env
   source .env/bin/activate
   python -m pip install --upgrade pip
   python -m pip install -r ./requirements.txt
   export set FLASK_APP=hello_app.webapp
   python -m flask run
  displayName: 'Configure venv and Flask_app'

- task: PublishPipelineArtifact@1
  inputs:
    targetPath: '$(Pipeline.Workspace)'
    artifact: 'demopipeline'
    publishLocation: 'pipeline'
- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
    publishLocation: 'Container'
- task: TwineAuthenticate@1
  inputs:
    artifactFeed: 'RM349865'